*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    background-color: #111;
    font-family: "Inter";
    color: white;
}

#hamburgericon{
    display: none;
}
#sidebar{
    position: fixed;
    top: 0%; left: 0%;
    background-color: #D9D9D9;
    height: 100vh;
    width: 25%;
    min-width: 206px;
    display: flex;
    flex-direction: column;
    transition-duration: 300ms;
    transition-timing-function: ease;
    z-index: 3;
}

.sbButton{
    background-color: #D9D9D9;
    color: #111;
    font-weight: 500;
    padding-left: 10%;
    font-size: 1rem;
    margin: auto;
    margin-top: 5%;
    width: 90%;
    height: 8vh;
    min-width: 198px;
    min-height: 35px;
    border-radius: 2.5vmin;
    border: 1.0px solid #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sbButton:hover{
    background-color: #d3d3d3;
}
.sbButton .ico{
    scale: 125%;
    margin-right: 10%;
    color: #111
}
.sbButton:hover span{
    animation: slideUp 0.5s cubic-bezier(.05,.5,.31,.89)
}
@keyframes slideUp {
    0%{
        position: relative;
        bottom: 0%;
        opacity: 1.0;
        clip-path: inset(0 0 0 0);
    }
    25%{
        position: relative;
        bottom: 35%;
        clip-path: inset(100% 0 0 0);
    }
    26%{
        position: relative;
        bottom: -35%;
        clip-path: inset(0 0 100% 0);
    }
    100%{
        position: relative;
        bottom: 0%;
        clip-path: inset(0 0 0 0);
    }
}
.active .sbButton{
    border: none;
    background-color: #403F90;
}
.active *{
    color: white;
}
.active:hover .sbButton{
    background-color: #3b3a85;
}

.main{
    position: absolute;
    top: 0%;
    left: 25%;
    width: 75%;
    /* min-width: 630px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchbar{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 7vh;
    transition-duration: 250ms;
}
.searchbar input{
    width: 90%;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 2%;
    border-radius: 1vmin;
}
.searchbar button{
    cursor: pointer;
    position: relative;
    left: -9%;
    width: 10%;
    border-radius: 1vmin;
    background-color: rgb(230, 230, 230);
}
.searchbar button:hover{
    background-color: rgb(210, 210, 210);
}
.searchbar:has(> input:focus) {
    scale: 1.02;
}
.medialist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-right: auto;
    margin-left: 3%;
    width: 95%;
}
.medialist h1{
    margin-inline: auto;
}
.result{
    width: 21%;
    padding: 1%;
    background-color: #222;    
    display: flex;
    flex-direction: column;
    animation: slideanim 300ms ease;
    transition-duration: 50ms;
    margin-bottom: 2%;
    margin-right: 2%;
}
.result img{
    width: 100%;
    box-shadow: 0px 0px 8px #444;
}
.result:hover{
    background-image: linear-gradient(#333, #555);
    scale: 1.01;   
}
.result:active{
    scale: 0.99;
}
.result h5{
    text-align: center;
    margin-top: 2px;
}

@media (max-width: 500px) {
    #sbbg{
        position: fixed;
        cursor: pointer;
        display: none;
        height: 100vh;
        width: 100%;
        z-index: 2;
        backdrop-filter: blur(4px);
    }
    #hamburgericon{
        display: block;
        margin-top: 2%;
        margin-left: 2%;
        width: 10vw;
        height: 10vh;
        cursor: pointer;
    }
    #sidebar{
        left: -100%;
    }
    .main{
        left: 0%;
        width: 100%;
    }
    .searchbar{
        margin-top: 2%;
        position: absolute;
        left: 13vw;
        width: 87vw;
        height: 10vh;
    }
    .medialist{
        position: absolute;
        top: 13vh;
    }
    .result{
        width: 46%;
    }
}